services:
  web:
    build: .
    command: >
      sh -c "npm run build:css &&
             python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             gunicorn myproject.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    environment:
      - DEBUG=0
      - ALLOWED_HOSTS=fikrly.uz,www.fikrly.uz,localhost,127.0.0.1
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=fikrly_db
      - DB_USER=postgres
      - DB_PASSWORD=fikrly_uz
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=fikrly_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=fikrly_uz

  redis:
    image: redis:7-alpine
    restart: always

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    # REPLACE <YOUR_TOKEN> BELOW WITH THE TOKEN FROM CLOUDFLARE
    command: tunnel --no-autoupdate run --token eyJhIjoiMWU4NDJiMjZlODFhOTM0Njk5NTA0YWIyNTFlZWE3ZWIiLCJ0IjoiODVjOWYxZjQtMjJjMi00ZWQ2LTkwOGItMGUyMmUyYTIzYmEwIiwicyI6IlltVXpNbVk0T0RFdFlUZGhOQzAwTm1NeUxUbGpZV1V0T0RaaU9XWTVNek0wTTJZMSJ9
    depends_on:
      - nginx

volumes:
  static_volume:
  media_volume:
  postgres_data:
